<header class="site-header">
  <div class="header-container">
    <h1 class="site-title">
      <a routerLink="/" class="site-link">Auction Site</a>
    </h1>

    <div class="search-container">
      <input
        type="text"
        [(ngModel)]="searchTerm"
        (keyup.enter)="search()"
        class="search-bar"
        placeholder="Search for Auctions..." />
    </div>

    <div class="auth-buttons" *ngIf="isLoggedIn | async; else guest">
      <a routerLink="/create-auction" class="auth-link">Create Auction</a>

      <!-- ✅ butonul pentru admin -->
      <a *ngIf="isAdmin" routerLink="/create-category" class="auth-link">Create Category</a>
      <a routerLink="/update-profile" class="auth-link">Update Profile</a>
      <a (click)="logout()" class="auth-link" style="cursor: pointer">Sign out</a>
      <button
        *ngIf="isAdmin && isCategoryPage"
        (click)="deleteCategory()"
        style="position: fixed; top: 10px; right: 120px; background-color: red; color: white; padding: 8px; border: none; border-radius: 5px; cursor: pointer;">
        Delete Category
      </button>
    </div>

    <div class="left-buttons" *ngIf="isLoggedIn | async">
      <a routerLink="/my-auctions" class="auth-link">My Auctions</a>
    </div>

    <ng-template #guest>
      <a routerLink="/login" class="auth-link">Log in</a>
      <a routerLink="/signin" class="auth-link">Sign in</a>
    </ng-template>
  </div>
</header>
<router-outlet></router-outlet>


